
@{
    ViewBag.Title = "Admicion";
}

    <div class="description">
        <div class="container">
            <div class="col-md-8">
                <h1 class="title">Requisitos de Admisión</h1>
                
                <h4>Documentos a depositar para inscripción</h4>
                <ul>
                    <li>Certificado de Conclusión del Nivel Primario</li>
                    <li>Récord de notas</li>
                    <li>Copia de cédula de ambos padres</li>
                    <li>Historial Clínico Completo (modelo en la oficina del Politécnico)</li>
                    <li>Acta de nacimiento certificada y actualizada</li>
                    <li>2 fotos 2&#215;2 recientes</li>
                    <li>Reporte del Sistema de Información para la Gestión Escolar de la República Dominicana (SIGERD), sellado y firmado por el/la director(a) del centro educativo anterior</li>
                    <li>Carta de Referencia del Centro Educativo Anterior, debidamente firmada y sellada</li>
                </ul>
                <p><b>Notas:</b></p>
                <p>* Depositar estos documentos en un sobre manila.</p>
                <p>* Se les dará preferencia de participación a estudiantes del Municipio de Boca Chica.</p>
            </div>
            </div>
        </div>