
@{
    ViewBag.Title = "Estructurapoli";
}

    <div class="description">
        <div class="container">
            <div class="col-md-8">
                <h1 class="title">Estructura del Politécnico </h1>
                <p>El Politécnico ITLA estará bajo la dirección, administración y funcionamiento del Instituto Tecnológico de las Américas (ITLA) en el marco de un acuerdo de colaboración de co-gestión con el Ministerio de Educación de la República Dominicana.</p>
                <p>La Estructura Interna del Politécnico estará constituida por (4) unidades:</p>
                <ol>
                    <li><strong>Unidad de Registro y Contrato Académico:</strong> responsable de administrar los servicios escolares ofrecidos por el centro y proponer mecanismos e instrumentos para optimizar los tramites y servicios</li>
                    <li><strong>Unidad Docente:</strong> dependencia responsable de la aplicación de los planes y programas en el centro.</li>
                    <li><strong>Unidad Técnica:</strong> dependencia responsable coordinar los talleres y especialidades técnicas por familia profesionales.</li>
                    <li><strong>Unidad Administrativa:</strong> dependencia responsable de la administración de los recursos, del mantenimiento de las instalaciones física y la formulación del plan operativo y del presupuesto.</li>
                </ol>
            </div>
            
        </div>
    </div>