
@{
    ViewBag.Title = "OrganismosP";
}

    <div class="description">
        <div class="container">
            <div class="col-md-8">
                <h1 class="title">Organismos de Participación</h1>
                <p>El Politécnico se relaciona con el Distrito Educativo 10-05 internamente y a lo externo con el Gobierno Municipal de Boca Chica, la Asociación de Padres, Tutores y Amigos de la Escuela, la sociedad civil y lo organismos locales de emergencia.</p>
                <ul>
                    <li><strong>Junta de Centro Educativo:</strong> Se constituirá un junta de Centro Educativo como un organismo descentralizado de gestión y participación, encargada de crear los nexos entre la comunidad, el centro educativo y sus actores, con el objetivo de que éste desarrolle con éxito sus funciones (Ordenanza 02-2008, Reglamento de Junta Descentralizadas)</li>
                    <li><strong>Asamblea de Profesores/as:</strong> Presidida por el Director/a del centro y en su ausencia la conducción de la Asamblea recaerá en el Director del Distrito Educativo 10—05.</li>
                    <li><strong>Consejo Estudiantil:</strong> integrado por los/as Presidentes y Vicepresidentes de los consejos de curso del politécnico.</li>
                    <li><strong>Consejo de Curso:</strong> organismo colegiado al servicio de las finalidades formativas de la educación.</li>
                    <li><strong>Asociación de Padres, Madres, Tutores y Amigos de la Escuela:</strong> con la finalidad de apoyar directamente la gestión del centro.</li>
                </ul>
            </div>
            <div class="col-md-4">
                </div>
        </div>
    </div>
